<div class="w-full py-1 px-1 overflow-hidden cursor-pointer hover:bg-slate-600 hover:outline-2" *ngIf="item"
     [tp]="item.type === 'file'? contextFileMenu : contextFolderMenu"
     tpVariation="contextMenu"
     (click)="open()">
  <span [ngClass]="{'invisible': item.type === 'file'}" class="ms-[5px]">
    <ng-icon *ngIf="item?.expanded" name="matExpandMoreSharp" size="16px"></ng-icon>
    <ng-icon *ngIf="!item?.expanded" name="matExpandLessSharp" size="16px"></ng-icon>
  </span>
  <span class="overflow-hidden overflow-ellipsis">
    {{item.name}}
  </span>
</div>

<ng-template #contextFileMenu let-hide="data">
  <div class="flex flex-col w-full bg-slate-800 p-2 gap-1 shadow text-slate-200 ">
    <app-icon-button icon="matFileOpenSharp" size="small" text="Apri in nuova scheda"  [fullwidth]="true"></app-icon-button>
    <hr class="bg-gray-500">
    <app-icon-button icon="matEditSharp"  size="small" text="Rinomina"  [fullwidth]="true"></app-icon-button>
    <app-icon-button icon="matFileCopySharp" size="small" text="Copia"   [fullwidth]="true"></app-icon-button>
    <app-icon-button icon="matMoveDownSharp" size="small" text="Sposta file in..."    [fullwidth]="true"></app-icon-button>
    <hr class="bg-gray-500">
    <app-icon-button icon="matDeleteSharp" size="small" text="Elimina"   [fullwidth]="true"></app-icon-button>
  </div>
</ng-template>
<ng-template #contextFolderMenu let-hide="data">
  <div class="flex flex-col w-full bg-slate-800 p-2 gap-1 shadow text-slate-200 ">
    <app-icon-button icon="matFileOpenSharp" size="small" text="Crea nuova cartella"  [fullwidth]="true"></app-icon-button>
    <app-icon-button icon="matFileOpenSharp" size="small" text="Crea nuovo file"  [fullwidth]="true"></app-icon-button>
    <hr class="bg-gray-500">
    <app-icon-button icon="matEditSharp"  size="small" text="Rinomina"  [fullwidth]="true"></app-icon-button>
    <app-icon-button icon="matFileCopySharp" size="small" text="Copia"   [fullwidth]="true"></app-icon-button>
    <app-icon-button icon="matMoveDownSharp" size="small" text="Sposta cartella in..."    [fullwidth]="true"></app-icon-button>
    <hr class="bg-gray-500">
    <app-icon-button icon="matDeleteSharp" size="small" text="Elimina"   [fullwidth]="true"></app-icon-button>
  </div>
</ng-template>
