<!--<app-tab-navbar></app-tab-navbar>-->
<!--<app-notes-sidebar></app-notes-sidebar>-->
<!--<app-icon-button icon="matDeleteSharp" text="la carnagione" size="small"></app-icon-button>-->
<!--<app-icon-button icon="matDeleteSharp"></app-icon-button>-->
<!--<button [tp]="TooltipComponent">-->
<!--  I have a tooltip-->
<!--</button>-->
<app-editor-grid>
    <app-logo logo></app-logo>
    <app-notes-sidebar sidebar-editor></app-notes-sidebar>
    <app-tab-navbar toolbar-editor></app-tab-navbar>
    <app-editor editor></app-editor>
</app-editor-grid>
