<button (click)="buttonPress($event)" [disabled]="disabled" [ngClass]="{
          'border-2 border-solid': theme == 'outline',
          'bg-slate-800 text-slate-200 dark:bg-slate-200 dark:text-slate-800': theme == 'fill',
          'bg-slate-500': selected,
          'w-full': fullwidth,
          'cursor-not-allowed': disabled}"
        [type]="type"
        class="rounded dark:border-slate-200 hover:black border-slate-800 flex items-center hover:bg-slate-200 py-1 px-2"
>
    <ng-icon name="{{icon}}" size="{{sizeToPx[size]}}" ></ng-icon>
    <span class="mx-2" *ngIf="text">{{text}}</span>
</button>
